.shiftRight{
  float: right;
 }
.cards{
  background-color: #2C394B;
  display: flex;
	/* width: 90%; */
  align-items: center;
  margin-top:3%;
	justify-content:center;
	padding: 3%;
}
.card{
  display: inline-block;

  width: 280px;
	/* height: 360px; */
	border-radius: 15px;

	background:#EEEEEE;
   transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);

}
.card:hover{
		transform: translateY(20px);
}
.card:before{
    	opacity: 1;
    }
	.card-text{
			opacity: 1;
			transform: translateY(0px);
    }


	.card:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display:inline-block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
}


 /* .card-body{
   background: grey;
} */

/* img{
width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 15px;
  } */
  .card-title{
    margin: 0px;

  }
  .card-text{
    letter-spacing: 1px;
  			font-size: 15px;
  			margin-top: 8px;
  }

.card-button {
  padding: 0.6rem;
			outline: none;
			border: none;
			border-radius: 3px;
		background: white;
			color: black;
			font-weight: bold;
			cursor: pointer;
			transition: 0.4s ease;
}
.card-button:hover{
				background: dodgerblue;
				color: white;
}
.influencer-intro{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.individual{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3%;
	width:85%
}

.image{
	
	height: 40%;
	width: 48%;

}

.product-description{
    display: inline-block;
	margin-bottom: 5%;
}

.product-details{
	margin-top: 5%;
}

.myButton {
	background-color:#e04c4c;
	border-radius:22px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Trebuchet MS;
	font-size:23px;
	padding:16px 54px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#e0384f;
}
.myButton:active {
	position:relative;
	top:1px;
}
