.shiftRight{
  float: right;
 }
.cards{
  background-color: #2C394B;
  display: flex;
	width: 90%;
  align-items: center;
  margin-top:3%;
	justify-content:flex-end;
}
.card{
  display: inline-block;
  margin:5px;
  width: 280px;
	height: 360px;
	border-radius: 15px;
	padding: 1.5rem;
	background: white;
   transition: 0.4s ease-out;
	box-shadow: 0px 7px 10px rgba(black, 0.5);

}
.card:hover{
		transform: translateY(20px);
}
.card:before{
    	opacity: 1;
    }
	.card-text{
			opacity: 1;
			transform: translateY(0px);
    }


	.card:before{
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		display:inline-block;
		width: 100%;
		height: 100%;
		border-radius: 15px;
		background: rgba(black, 0.6);
		z-index: 2;
		transition: 0.5s;
		opacity: 0;
}

}
 .card-body{
  position: relative;
		z-index: 3;
		color: white;
		opacity: 0;
		transform: translateY(30px);
		transition: 0.5s;
}

img{
width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 15px;
  }
  .card-title{
    margin: 0px;

  }
  .card-text{
    letter-spacing: 1px;
  			font-size: 15px;
  			margin-top: 8px;
  }

.card-button {
  padding: 0.6rem;
			outline: none;
			border: none;
			border-radius: 3px;
		background: white;
			color: black;
			font-weight: bold;
			cursor: pointer;
			transition: 0.4s ease;
}
.card-button:hover{
				background: dodgerblue
				color: white
}
