.grid{
	max-width: fit-content;
	margin: 5rem auto;
	display: column;
	/* grid-template-columns: repeat(4,1fr); */
	columns: 4;
	gap: 1rem;
    /* grid-auto-rows: minmax(10rem,auto); */
}

.item{
	max-width: 60rem;
	margin-bottom: 1rem;
}