<%- include("navbar.ejs") -%>
<div style="min-height: 800px; display: flex; justify-content: center; align-items: center;flex-direction: column;">
<!-- <h1 >Most Loved Products</h1> -->
<% for(let i=0;i<recommendedProducts.length;i++){ %>
    <h1><%= recommendedProducts[i].productName %></h1>
<% } %>
</div>
<%- include("footer.ejs") -%>