<%- include("navbar.ejs") -%>
<div style="min-height: 800px; display: flex; justify-content: center; align-items: center;">
<!-- <h1 >Top 5 Influencers</h1> -->
 <% for(let i=0;i<5;i++){ %>
        <a href="/top5influencers/<%=influencerDataArray[i].name%>"><%= influencerDataArray[i].name %></a> 
<% } %>

</div>
<%- include("footer.ejs") -%>