.card{
    display: inline-block;
   
    width: 280px;
      /* height: 360px; */
      border-radius: 15px;
  
      background:#EEEEEE;
     transition: 0.4s ease-out;
      box-shadow: 0px 7px 10px rgba(black, 0.5);
  
  }
  .card:hover{
          transform: translateY(-10px);
      box-shadow: 8px 7px 10px 2px rgba(0,0,0,0.6);
      -webkit-box-shadow: 8px 7px 10px 2px rgba(0,0,0,0.6);
      -moz-box-shadow: 8px 7px 10px 2px rgba(0,0,0,0.6);
  }
  .card:before{
          opacity: 1;
      }
      .card-text{
              opacity: 1;
              margin-bottom: 0 !important;
            }
          
            .card-title{
              margin-bottom: 0 !important;
            }
          
            p{
              margin-bottom: 0;
            }
          
  
      .card:before{
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          display:inline-block;
          width: 100%;
          height: 100%;
          border-radius: 15px;
          background: rgba(black, 0.6);
          z-index: 2;
          transition: 0.5s;
          opacity: 0;
  }

  .text-banner-title {
    text-transform: uppercase;
    color: #3e4152;
    letter-spacing: 0.15em;
    font-size: 1.8em;
    margin: 100px 0 10px 30px;
    max-height: 5em;
    font-weight: 600;
  }

  .like-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 10rem;
    min-width: 4rem;
  }
  
  .large-font{
    font-size:32px;
  }
  .top-20{
    position:relative;
  }
  
  .product-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 3.5%;
  }
  
  ion-icon{
    fill:transparent;
    stroke:black;
    stroke-width:30;
    transition:all 0.5s;
  }
  
  .recommendedBy{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .rm-bottom{
    margin-bottom: 0;
  }
  