.grandparent-div{
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parent-div{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.image-div img{
	max-width: 500px;
	max-height: 500px;
	object-fit: cover;
}
.product-title-div{
	margin-top: 2rem;
	margin-bottom: 2rem;
}
.product-details{
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

/* Recommended section styling */
.influencer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3%;
	width:95%
}

.influencer-intro{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.influencer-image{
	height: 55px;
	width: 55px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 30px;
}



.buttons{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: column;
}

.btn-outline-success{
	padding: 0.75rem 4.5rem 0.75rem 4.5rem;
	margin-top: 0.25rem;
	margin-bottom: 0.25rem;
}

.btn-danger{
	padding: 0.75rem 5.8rem 0.75rem 5.8rem;
}
