.grandparent-div{
	min-height: 750px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.parent-div{
	width: 65%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.image-div img{
	max-width: 500px;
	max-height: 500px;
	object-fit: cover;
}
.product-title-div{
	/* margin-top: 2rem; */
	margin-bottom: 2rem;
}
.product-details{
	margin-top: 1rem;
	margin-bottom: 3rem;
	font-size: 1.5rem;
}

.modal-backdrop
{
    opacity:0.5 !important;
}

/* Recommended section styling */
.influencer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 3%;
	width:95%
}

.influencer-intro{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.influencer-image{
	height: 55px;
	width: 55px;
	object-fit: cover;
	border-radius: 100%;
	margin-right: 30px;
}



.buttons{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.para{
  font-family: inherit;
  font-weight: normal;
  color: black;
  margin-left: 0.4rem;

}
/* .option-image{
  display: inline-block;
} */

 .btn-outline-success{
	 width: 18rem;
	padding: 1rem 0;
 }


.btn-danger{  
	width: 18rem;
	padding: 1rem 0;
	 margin: 0 1rem 0 0;
} 

.option-image{
	display: flex ;
	flex-direction: row;
	/* justify-content: center; */
	align-items: center;
}

.influencer-img{
	width: 1.5rem;
	height: 1.5rem;
	object-fit: cover;
	border-radius: 100%;
	margin-left: 0.25rem;
}
.View-More{
	text-decoration: none;
	color: #000000;
	font-weight: lighter;
}

.view-more-text{
	margin-bottom: 0;
	font-size: 1.1rem;
	font-weight: 400;
}