.grid{
	max-width: fit-content;
	margin: 5rem auto;
	display: column;
	/* grid-template-columns: repeat(4,1fr); */
	columns: 4;
	gap: 1rem;
    /* grid-auto-rows: minmax(10rem,auto); */
}

.item {
	max-width: 18rem;
    position: relative;
	margin-bottom: 1rem;
    border-radius: 1rem;
    object-fit: cover;
}

.photo{
    max-width: 18rem;
    object-fit: cover;
}


.content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,50%);
    color: #fff;
}

.image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  transition: 0.4s ease;
  background: black;

}

.item:hover .overlay{
    opacity: 0.8;
}