<!-- <%- include("navbar.ejs") -%>

<div class="image-container" style="background-image: url("<%= product.images %>");">
</div>
<div class="product-description">
    <h1></h1>
    <p></p>
    <hr>
    <span class="price">Rs </span>
    <span>Discount  %</span>
</div>

<%- include("footer.ejs") -%> -->